*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Prompt";
    font-size: normal;
}
img {
    display: inline-block;
}
.site-body {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    margin: 0 auto;
    padding: 0 40px;
    width: 500px;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 5px;
    position: relative;
    top: 140px;
}

/* SITE-TOP */

.site-title {
    display: none;
}
.site-top {
    padding: 35px 0 20px;
}
.site-top-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-top-item-right {
    text-align: right;
}
.site-top-heading {
    margin: 0;
    font-family: Prompt;
    color: #1e90ff;
    font-weight: 900;
    font-size: 57.33px;
}
.site-top-desc {
    margin: 0;
}
.site-top-devider {
    display: inline-block;
    width: 25px;
    height: 4px;
    background-color: #696969;
    opacity: 0.2;
    border-radius: 1px;
}

/* SITE BOTTOM */

.site-bottom-list {
    padding: 0 0 20PX 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site-bottom-heading {
    margin: 0;
    opacity: 0.5;
    margin-bottom: 5px;
    font-weight: 500;
}
.site-bottom-desc {
    margin: 0;
    font-weight: 500;
}

/* info */

.site-bottom-info {
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info-bottom-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
.info-bottom-item {
    margin-bottom: 10px;
}
.info-bottom-caption {
    margin: 0;
    opacity: 0.5;
    margin-bottom: 5px;
    font-weight: 500;
}
.info-bottom-desc {
    margin: 0;
    font-weight: 500;
}